<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgAJvr3k_s_qJgoeH6qt0T0JFRa2lI1tE</string>
	<key>GCM_SENDER_ID</key>
	<string>893511648553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiran.TranslateMe</string>
	<key>PROJECT_ID</key>
	<string>translateme-ea7a2</string>
	<key>STORAGE_BUCKET</key>
	<string>translateme-ea7a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893511648553:ios:6b26eb8fca819ae3fce338</string>
</dict>
</plist>